body{
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
}
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    zoom: 1%;
}

audio{
    display: none;
}

div{

    z-index: 1; 
    position: absolute; 
    height: 50px; 
    bottom: 8.6%; 
    left: 87.5%; 

}

@font-face {
    font-family: "GalanoGrotesqueDEMOBold";
    src: url(fonts/Galano-Grotesque-DEMO-Bold.otf) format("truetype");
}

p{
    font-size: 25px;
    font-family: GalanoGrotesqueDEMOBold;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

