body {
    background-image: linear-gradient(180deg, rgb(11,11,11), rgb(23,23,23));
    margin-top: 0%;
}

header {
    padding-bottom: 80px;
    margin-top: 40px;
}

.line-1{
    position: relative;
    top: 10%;  
    width: 24em;
    margin: 0 auto;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    font-size: 25px; 
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    transform: translateY(-50%);   
    color: rgba(255, 255, 255, 0.252);
    font-family: NoveraModernBlack;
    text-shadow: 0.06rem 0 0.06rem #8a8a8a, -0.125rem 0 0.06rem #3c3c3c;
}

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 0.7s steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 28em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
  }

.container-g {
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
}

.container-img1 {
    display: block;
    align-items: center;
    column-gap: 1px;
}


.image1 {
    max-width: 27%;
    max-height: 27%;
    float: right;
    border-radius: 160px;
}

.text1 {
    font-size: 25px; ;
    font-family: NoveraModernBlack;
    color: white;
    text-shadow: 0.06rem 0 0.06rem #939393, -0.125rem 0 0.06rem #4e4e4e;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
}

@keyframes textflicker {
    from {
      text-shadow: 2px 0 0 #939393, -3px 0 0 #4e4e4e;
    }
    to {
      text-shadow: 4px 0.1px 2px #939393, -2px -0.1px 3px #4e4e4e;
    }
  }

.text2 {
    line-height: 2em;
    font-size: 15px;
    font-family: NoveraModernBlack;
    color: rgba(255, 254, 254, 0.637);
}

@font-face {
    font-family: "NoveraModernBlack";
    src: url(fonts/novera-modern-black.otf) format("truetype");
}

.container-img2 {
    display: block;
    align-items: center;   
}

.image2 {
    max-width: 3%;
    max-height: 3%;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
    transition: transform .7s ease-in-out;
}

.image2:hover {
    transform: rotate(200deg);
}

.my-float{
	position:sticky;
	max-width:50px;
	max-height:50px;
	top:40px;
	left:40px;
	border-radius:15px;
	text-align:center;
    transition: transform 1.5s ease-in-out;

}


.my-float:hover {
    transform: rotate(720deg);
}

::selection {
    background: rgba(54, 54, 54, 0.474);
}

footer {
    padding-bottom: 37rem;
    margin-top:180px;
    margin-left: 160px;
    margin-right: 160px;

}

.container-f {
 color: white;
}