body {
    background-color: rgb(11, 11, 11);
    margin-top: 0%;
}

header {
    padding-bottom: 120px;

}

.container-g {
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
}

.container-img1 {
    display: block;
    align-items: center;
    column-gap: 1px;
    
}

.image1 {
    max-width: 27%;
    max-height: 27%;
    float: right;
    border-radius: 160px;
}

.text1 {
    font-size: 25px; ;
    font-family: NoveraModernBlack;
    color: white;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
}

@keyframes textflicker {
    from {
      text-shadow: 2px 0 0 #ea36af, -3px 0 0 #75fa69;
    }
    to {
      text-shadow: 3px 0.1px 2px #ea36af, -2px -0.1px 3px #75fa69;
    }
  }

.text2 {
    line-height: 2em;
    font-size: 15px;
    font-family: NoveraModernBlack;
    color: rgba(255, 254, 254, 0.637);
}

@font-face {
    font-family: "NoveraModernBlack";
    src: url(fonts/novera-modern-black.otf) format("truetype");
}

.container-img2 {
    display: block;
    align-items: center;   
}

.image2 {
    max-width: 3%;
    max-height: 3%;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
    transition: transform .7s ease-in-out;
}

.image2:hover {
    transform: rotate(200deg);
}



